/* FONTS */
.work-sans > {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* varios */
img {
  border-radius: 0;
}
/* BODY */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}

main#covert-main {
  padding-top: 0;
}

/* HEADER */
#covert-header {
  height: 80px;
}

#covert-header::after {
  display: none;
}

.covert-header-inner {
  height: 100%;
  padding: 0;
}

.covert-logo img {
  width: 113px;
  height: 30px;
}

a.book {
  width: 214px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  text-align: center;
  color: #fff;
  background-color: #007aff;
}
a.book img {
  width: 18px;
  height: 18px;
}

a:hover.book {
  color: #fff;
  background-color: #0d2b58;
}

/* HERO */
#hero {
  top: 33px;
  padding-top: 121px;
  background-image: url(../img/pattern.png);
  background-repeat: no-repeat;
  background-position: top center;
}

#hero .stg-row > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 22px;
  width: 810px;
  top: 155px;
}

#hero .text .dashed {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 336px;
  height: 49px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #007aff;
  background-image: url("../img/dashed-hero.png");
}
#hero .text h1 {
  width: 810px;
  height: 192px;
  margin-top: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  color: #1a1a1a;
}

#hero .text h1 span {
  font-style: italic;
  color: #007aff;
}

#hero .text p {
  width: 687px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 0;
}

#hero img.main {
  width: 280px;
  height: auto;
  margin: 78px auto 130px;
}

p.lead {
  font-family: "Work Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #007aff;
}

/* logos reel */
.carousel-container {
  width: 100%;
  overflow: hidden;
}
.carousel {
  display: flex;
  animation: scroll var(--duration, 10s) linear infinite;
}
/* Para el segundo carousel, invertimos la dirección */
.carousel.reverse {
  animation-direction: reverse;
}
.carousel img {
  height: 80px;
  margin-right: 100px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }
}
