/* FONTS */
.work-sans > {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* varios */
img {
  border-radius: 0;
}

/* BODY */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #ffffff;
}

main#covert-main {
  padding-top: 0;
}
section > div {
  display: flex;
  justify-content: center;
}
.text .dashed {
  height: 44px;
  min-height: 44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #007aff;
  background-size: cover;
  background-repeat: no-repeat;
}
.stg-row > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.01rem;
}

.text {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
/* HEADER */
#covert-header {
  height: 80px;
}

#covert-header::after {
  display: none;
}

.covert-header-inner {
  height: 100%;
  padding: 0;
}

.covert-logo img {
  width: 113px;
  height: 30px;
}
.text h1 span,
.text h2 span,
.text h3 span {
  color: #007aff;
}
a.book {
  width: 214px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  text-align: center;
  color: #fff;
  background-color: #007aff;
}
a.book img {
  width: 18px;
  height: 18px;
}

a:hover.book {
  color: #fff;
  background-color: #002b5b;
}

/* HERO */
#hero {
  top: 33px;
  padding-top: 120px;
  background-image: url(../img/pattern.png);
  background-repeat: no-repeat;
  background-position: top center;
}

#hero .text {
  padding: 0px;
  gap: 22px;
  width: 810px;
  top: 155px;
}

#hero .text .dashed {
  width: 336px;
  height: 49px;
  min-height: 49px;
  font-size: 24px;
  background-image: url("../img/dashed-hero.png");
}

#hero .text h1 {
  width: 810px;
  height: 192px;
  margin-top: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 120%;
  text-align: center;
  color: #1a1a1a;
}

#hero .text h1 span {
  font-style: italic;
}

#hero .text p {
  width: 687px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 0;
}

#hero img.main {
  width: 280px;
  height: auto;
  margin: 78px auto 130px;
}

p.lead {
  font-family: "Work Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #007aff;
}

/* logos reel */
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 18px;
}
.carousel {
  display: flex;
  -webkit-animation: scroll var(--duration, 10s) linear infinite;
  animation: scroll var(--duration, 10s) linear infinite;
}
.carousel.reverse {
  animation-direction: reverse;
}
.carousel img {
  height: 80px;
  margin-right: 100px;
}
@-webkit-keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }
}

/* PROBLEM */
#problem .stg-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 1127px;
}

#problem .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 26px;
  width: 627px;
  margin-bottom: 114px;
}

#problem .text .dashed {
  width: 144px;
  font-size: 20px;
  background-image: url("../img/dashed-problem.png");
  background-size: cover;
}

#problem .text h2 {
  width: 627px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #000;
}

#problem .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 22px;
  width: 1127px;
}

#problem .content .step {
  width: 283px;
  height: 300px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#problem .content .step h3 {
  position: absolute;
  z-index: 1111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 120%;
  color: #007aff;
  text-shadow:
    25px 0px 10px rgba(0, 0, 0, 0.01),
    14px 0px 9px rgba(0, 0, 0, 0.05),
    6px 0px 6px rgba(0, 0, 0, 0.09),
    2px 0px 3px rgba(0, 0, 0, 0.1);

  -webkit-text-stroke: 1px #fff;
  margin-bottom: 0;
  transform: translate(7px, -61px);
}

#problem .content .step .top {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px 0;
  width: 283px;
  height: 120px;
  background: #007aff;
  box-shadow:
    0px 30px 12px rgba(0, 0, 0, 0.01),
    0px 17px 10px rgba(0, 0, 0, 0.05),
    0px 7px 7px rgba(0, 0, 0, 0.09),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateY(5px);
}

#problem .content .step .top h4 {
  width: 233px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

#problem .content .step .bottom {
  width: 283px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 26px 0;
  background: #ffffff;
  box-shadow:
    0px 30px 12px rgba(0, 0, 0, 0.01),
    0px 17px 10px rgba(0, 0, 0, 0.05),
    0px 7px 7px rgba(0, 0, 0, 0.09),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
}

#problem .content .step .bottom p {
  width: 232px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 0;
}
#problem .content .step:nth-child(3) .bottom {
  padding: 10px 34px 0;
}
#problem .content .step:last-child .bottom {
  padding: 10px 40px 0;
}

#solution {
  background-color: #002b5b;
  padding-bottom: 0;
}

#solution .stg-row {
  margin-bottom: 0;
}
#solution .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 600px;
  margin-bottom: 25px;
}

#solution .text .dashed {
  width: 144px;
  font-size: 20px;
  color: #fff;
  background-image: url("../img/dashed-solution.png");
  background-size: cover;
}

#solution .text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #f5f5f5;
  margin-top: 10px;
}

#solution .text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #f5f5f5;
}

#solution img {
  width: 94px;
  height: 95px;
}

#solution-details {
  width: 1200px;
  margin: 0 auto;
}

#solution-details .stg-row {
  margin-bottom: 70px;
}

#solution-details .stg-row:last-child {
  margin-bottom: 0;
}

#solution-details .stg-row .text > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

#solution-details .stg-row .text > div > * {
  width: 487px;
}

#solution-details h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #1a1a1a;
  margin-bottom: 16px;
}

#solution-details p.covert-large-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #1a1a1a;
  text-align: left;
}

#solution-details ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 440px !important;
  padding-left: 15px;
}

#solution-details ul li {
  text-align: left;
  margin-bottom: 18px;
}

#solution-details ul li::marker {
  color: #007aff;
}

#solution-details ul h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #007aff;
  margin-bottom: 0;
}
#solution-details ul p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #1a1a1a;
}

#solution-details .stg-row .img {
  margin: 0;
  width: calc(50% - 8px);
}

#solution-details .covert-parallax-media img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

#pricing {
  background-color: #002b5b;
  padding-bottom: 0;
}

#pricing .stg-row {
  margin-bottom: 0;
}
#pricing .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 630px;
  margin-bottom: 25px;
}

#pricing .text .dashed {
  width: 86px;
  font-size: 20px;
  color: #fff;
  background-image: url("../img/dashed-pricing.png");
  background-size: cover;
}

#pricing .text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #f5f5f5;
  margin-top: 10px;
}

#pricing .text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #f5f5f5;
  width: 600px;
}
