/* FONTS */
.work-sans > {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* BODY */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}

main#covert-main {
  padding-top: 0;
}

/* HEADER */
#covert-header {
  height: 80px;
}

#covert-header::after {
  display: none;
}

.covert-header-inner {
  height: 100%;
  padding: 0;
}

.covert-logo img {
  width: 113px;
  height: 30px;
}

a.book {
  width: 214px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  border: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  text-align: center;
  color: #fff;
}
a.book img {
  width: 18px;
  height: 18px;
}

/* HERO */
#hero {
  top: 33px;
  background-image: url("../img/pattern.png");
}
